.container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 10em;
}
.time {
  color: #322c28;
  font-size: 2em;
}
.input {
  color: #322c28;
  text-align: center;
  width: 41px;
  outline: none;
  border: none;
  font-size: 1em;
  background-color: transparent;
}
.input:disabled {
  color: rgb(106, 122, 117);
}
/* Chrome, Safari, Edge, Opera */
.noSpin::-webkit-outer-spin-button,
.noSpin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.noSpin[type="number"] {
  -moz-appearance: textfield;
}

.containerActiveButton {
  /* display: inline-block; */
}
.activeButton {
  color: #322c28;
  margin-left: 5px;
  height: 38px;
  vertical-align: text-top;
  border-radius: 8px;
  border-width: 1px;
  cursor: pointer;
}
.inactiveButton {
  color: #322c28;
  margin-left: 5px;
  height: 38px;
  vertical-align: text-top;
  border-radius: 8px;
  border-width: 1px;
}

.controllerContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 10em;
}

.controller {
  display: flex;
  justify-content: space-between;
  width: 16em;
  align-items: center;
}

.caption {
  font-size: 1em;
  color: #322c28;
}

.bar {
  position: relative;
  width: 200px;
  height: 22px;
  border: 1px solid #322c28;
  border-radius: 5px;
  box-sizing: border-box;
}

.square {
  position: absolute;
  width: 25px;
  height: 22px;
  border: 1px solid #322c28;
  border-radius: 5px;
  box-sizing: border-box;
  top: -1px;
  left: -1px;
  z-index: 1;
}

.saveTimeButtons {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 2em;
  margin: 0 auto;
}

.saveButton{
  color: #322c28;
  height: 38px;
  vertical-align: text-top;
  border-radius: 8px;
  border-width: 1px;
  width: 10em;
  cursor: pointer;

}

.delButton{
  color: #322c28;
  height: 38px;
  vertical-align: text-top;
  border-radius: 8px;
  border-width: 1px;
  cursor: pointer;

}

.savedTimes {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.savedTime {
  cursor: pointer;
  font-size: auto;
}
